<div class="block block--reverse" id="about-us">
  <img
    src="{{ '/assets/images/group_pic-400w.jpeg' | relative_url }}"
    srcset="{{ '/assets/images/group_pic-400w.jpeg' | relative_url }} 400w,
            {{ '/assets/images/group_pic-800w.jpeg' | relative_url }} 800w,
            {{ '/assets/images/group_pic-1200w.jpeg' | relative_url }} 1200w,
            {{ '/assets/images/group_pic.jpeg' | relative_url }} 1600w"
    sizes="(max-width: 768px) 100vw, 50vw"
    class="block__image"
    alt="Megan and Will, the founders of Pesto For All"
    loading="lazy"
  />
  <div class="block__text">
    <h2 class="block__headline">
      About Megan &amp; Will
    </h2>
    <p>
      We've loved food for as long as we've been together. Once we started making our own pesto, Megan wanted to turn that passion into a business and we started Pesto For All in 2022.
    </p>
    <p>
      We can't believe how much support we've gotten along the way, and can't wait for what's next!
    </p>
  </div>
  {% include divider.html %}
</div>
