<div class="block block--dark-green block--reverse">
  <div class="block__text">
    <h2 class="block__headline">
      MaMa Jean's Natural Market
    </h2>
    <p>
      Our pesto can be found at <strong>all three locations of <a href="https://www.mamajeansmarket.com/" target="_blank" rel="noopener">MaMa Jean's Natural Market</a></strong>, in the freezer aisle!
    </p>
    <p>
      After making our fresh pesto, we immediately freeze it in small molds that are easy to use in all your favorite recipes.
    </p>
  </div>
  <img
    src="{{ '/assets/images/mama-jeans-store-400w.png' | relative_url }}"
    srcset="{{ '/assets/images/mama-jeans-store-400w.png' | relative_url }} 400w,
            {{ '/assets/images/mama-jeans-store-800w.png' | relative_url }} 800w,
            {{ '/assets/images/mama-jeans-store-1200w.png' | relative_url }} 1200w,
            {{ '/assets/images/mama-jeans-store.png' | relative_url }} 1600w"
    sizes="(max-width: 768px) 100vw, 50vw"
    class="block__image"
    alt="MaMa Jean's Natural Market storefront"
    loading="lazy"
  />
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>
