<div class="block block--hero">
  <div class="hero__content">
    <div class="hero__text">
      <h1 class="hero__title">
        Find us <span class="break hide-on-mobile"></span> in Springfield <span class="break hide-on-mobile"></span> stores
      </h1>
      <p class="hero__description">
        After three amazing years at the Farmers Market of the Ozarks, our basil pesto is now available at several retailers throughout Springfield!
      </p>
      <p class="hero__description">
        Look for our resealable freezer pouches in the freezer section.
      </p>
      <a href="https://www.instagram.com/{{ site.instagram_username }}/" class="button hero__cta" target="_blank" rel="noopener">Follow us on Instagram</a>
    </div>
    <div class="hero__image-wrapper">
      <img
        src="{{ '/assets/images/store_pic-400w.jpeg' | relative_url }}"
        srcset="{{ '/assets/images/store_pic-400w.jpeg' | relative_url }} 400w,
                {{ '/assets/images/store_pic-800w.jpeg' | relative_url }} 800w,
                {{ '/assets/images/store_pic-1200w.jpeg' | relative_url }} 1200w,
                {{ '/assets/images/store_pic.jpeg' | relative_url }} 1600w"
        sizes="(max-width: 768px) 100vw, 50vw"
        class="hero__image"
        alt="Our frozen pesto being stocked in grocery"
        loading="eager"
      />
    </div>
  </div>
  {% include divider.html %}
</div>
